<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color: rgba(50, 115, 220, 0.3);">
<div class="container">
    <h3 style="margin-top:30px;color:green;"> <center>Text To Speech Convert</center></h3>
    <div class="card" style="margin-top:20px;align:center">
        <form method="post" enctype="multipart/form-data" action="{% url 'home' %}">
           {% csrf_token %}
            <input type="file" name="audio" id="fileToUpload" value="test" accept = "audio/*" required>
            <input type="submit" value="Submit" name="submit" class="btn btn-dark">
        </form>
    </div>



{% if flag %}
    <center style="margin-top:30px;float:inline;">
          <audio controls>
                  <source src="{{path}}" type="audio/mpeg">
          </audio>

    </center>
    <form method="post" action='{% url "test" %}'>
        {% csrf_token %}
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
        </div>
        <input type="submit" value="Text TO Audio" name="submit" class="btn btn-success">
    </form>
    {% endif %}
</div>
</body>
</html>